html {
     overflow-y: scroll;
     overflow-x: hidden;
}
html,
body {
     font-family: 'Josefin Sans', sans-serif;
     display: flex;
     flex-direction: column;
     user-select: none;
     -moz-user-select: none;
     -webkit-user-select: none;
     -ms-user-select: none;
     min-height: 100vh;
}
.scheduleTable td:first-child {
     position: -webkit-sticky;
     position: sticky;
     /* border-right: 1px solid #ddd; */
     left: 0;
     z-index: 2;
     min-width: max-content;
}
.scheduleTable th:first-child {
     position: -webkit-sticky;
     position: sticky;
     left: 0;
     background: 'aygreen.50';
     z-index: 2;
     min-width: max-content;
}
.scheduleTable th {
     border-bottom: none;
}

.szh-menu {
     background-color: #d7e0ce !important;
}
.yic_table td {
     width: max-content !important;
}

.eventCalendard:first-child {
     position: -webkit-sticky;
     position: sticky;
     /* border-right: 1px solid #ddd; */
     left: 0;
     z-index: 2;
     min-width: max-content;
}

.eventCalendard th:first-child {
     position: -webkit-sticky;
     position: sticky;
     left: 0;
     background: 'aygreen.50';
     z-index: 2;
     min-width: max-content;
}
.swiper-button-prev {
     color: white !important;
}
.swiper-button-next {
     color: white !important;
}
.video-container {
     overflow: hidden;
     position: relative;
     width: 100%;
}

.video-container::after {
     padding-top: 56.25%;
     display: block;
     content: '';
}

.video-container iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}

.stress-background {
     background-color: #faf6f4;
     -webkit-mask: url(https://images.ctfassets.net/v3n26e09qg2r/42NtuXi6cVo8v9ALYfrsgY/9236e29d7e4eab94a089e7beab57b56e/hero_bg-wave.svg)
          no-repeat bottom;
     mask: url(https://images.ctfassets.net/v3n26e09qg2r/42NtuXi6cVo8v9ALYfrsgY/9236e29d7e4eab94a089e7beab57b56e/hero_bg-wave.svg)
          no-repeat bottom;
     -webkit-mask-size: cover;
     mask-size: cover;
     width: 100%;
     background-position: center;
     background-size: cover;
     color: #413d45;
}

.stress-grid {
     grid-template-columns: 1fr 50%;
     height: 800px;
     padding: 5rem 0;
}
@media only screen and (max-width: 1200px) {
     .stress-grid {
          grid-template-columns: 1fr 40%;
     }
}
@media only screen and (max-width: 1000px) {
     .stress-grid {
          grid-template-columns: 1fr;
          height: 1000px;
     }
}

@media only screen and (max-width: 475px) {
     .stress-grid {
          grid-template-columns: 1fr;
          height: 1050px;
     }
}
